<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>{{ title }}</title>
    
    {% block head %} {% endblock head %}
  </head>
  
  <body class="min-h-screen bg-white-300 dark:bg-neutral-800">
    <header>{% include 'base/header.html.jinja2' %}</header>

    <main>{% block main %}{% endblock main %}</main>

    <footer class="sticky top-[100vh] bg-white-300 dark:bg-neutral-800">
      {% include 'base/footer.html.jinja2' %}
    </footer>
  </body>
</html>