{% extends "base/base.html.jinja2" %}
{% set active_page = "event" %}

{% block main %}
<button onclick="StartRetrievingData();">Start retrieving data</button>
<button onclick="StopRetrievingData();">Stop retrieving data</button>
{% endblock main %}

{% block script %}
<script>
  let keep_running = false;

  function StartRetrievingData()
  {    
    keep_running = true;
    RetrieveNewData();
  }

  function StopRetrievingData()
  {
    keep_running = false;
  }

  async function RetrieveNewData() 
  {
    const response = await fetch('', {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    });

    const reader = response.body.getReader();
    while (true) 
    {
      const { done, value } = await reader.read();
      if (value)
      {
        console.log(value);
      }

      if (done || !keep_running) 
      {
        return;
      }
    }
  }
</script>
{% endblock script %}