{% extends "base/base.html.jinja2" %}
{% set active_page = "event" %}

{% block main %}
<label for="fname">Car name:</label>
<input type="text" id="car" name="car"><br><br>
<label for="lname">Minimum timestamp:</label>
<input type="text" id="minimum_timestamp" name="minimum_timestamp"><br><br>
<label for="lname">Maximum timestamp:</label>
<input type="text" id="maximum_timestamp" name="maximum_timestamp"><br><br>
<button onclick="StartRetrievingData();">Start retrieving data</button>
<button onclick="StopRetrievingData();">Stop retrieving data</button>
{% endblock main %}

{% block script %}
<script>
  let keep_running = false;

  let user_input_car;
  let user_input_minimum_timestamp;
  let user_input_maximum_timestamp;
  let highest_retrieved_data_id = 0;

  function StartRetrievingData()
  {
    user_input_car = document.getElementById("car").value;
    user_input_minimum_timestamp = document.getElementById("minimum_timestamp").value;
    user_input_maximum_timestamp = document.getElementById("maximum_timestamp").value;
    
    keep_running = true;
    RetrieveNewData();
  }

  function StopRetrievingData()
  {
    keep_running = false;
  }

  async function RetrieveNewData() {
    const response = await fetch("", {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
         "minimum_id": highest_retrieved_data_id,
         "car": user_input_car,
         "minimum_timestamp": user_input_minimum_timestamp,
         "maximum_timestamp": user_input_maximum_timestamp
      }),
    });
    
    const json_data = await response.json();
    console.log(json_data);
    
    highest_retrieved_data_id += 1;
    
    if (keep_running) {
      setTimeout( RetrieveNewData, 5000 );
    }
  }
</script>
{% endblock script %}